---
import { Post } from "../models/posts";

interface Props {
  post: Post;
}

const post = Astro.props.post;

const image = post.image;
---

<a class="block" href=`/blog/${post.category}/${post.slug}`>
  <div class="relative d-flex flex-row bg-white rounded w-full expand-on-hover">
    <img
      src=`${image?.url}`
      alt=`${image?.alt}`
      width="40%"
      class="d-inline-block0"
      style="border-radius: 0.5rem 0 0 0.5rem;"
    />
    <div
      class="d-flex px-3 py-2 w-60"
      style="flex-direction: column; justify-content: center;"
    >
      <h2 class="text-primary post-title">{post.title}</h2>
      <p class="d-sm-block d-none post-summary">{post.summary}</p>
    </div>
  </div>
</a>

<style>
  .post-title {
    font-size: 1rem;
  }

  @media screen and (min-width: 640px) {
    .post-title {
      font-size: large;
    }

    .post-summary {
      font-size: small;
    }

    .expand-on-hover:hover {
      transform: scale(1.05);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0.5, 0.5);
      transition: transform 0.3s ease-in-out;
    }
  }
</style>
