---
import { Post } from '../models/posts';

interface Props {
  post: Post;
}

const post = Astro.props.post;

const image = post.image;

---
<a class="d-inline-block h-100 w-100 w-lg-100" href=`/blog/${post.category}/${post.slug}`>
  <div class="card w-100 flex-lg-row">
    <img src=`${image?.url}` height="250rem" class="card-img-top" alt=`${image?.alt}`>
    <div class="card-body">
      <h5 class="card-title text-primary text-center text-lg-start">{post.title}</h5>
      <p class="d-lg-block card-text">{post.summary}</p>
    </div>
  </div>
</a>

<style>
@media screen and (min-width: 768px) {
  .card {
    border: unset;
    height: 10rem;
  }

  .card img {
    height: 100%;
    width: 40%;
  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0.5, 0.5);
    transition: transform 0.3s ease-in-out;
  }
}
</style>