---
import { Post } from '../models/posts';

interface Props {
  post: Post;
}

enum direction {
  horizontal = 'row',
  vertical = 'column',
};

const post = Astro.props.post;

const card = post.card;

const image = post.image;

---
<a class="w-100 w-lg-100" href=`/blog/${post.category}/${post.slug}`>
  <div class="card w-100">
    <img src=`${image?.url}` height="150px" class="card-img-top" alt=`${image?.alt}`>
    <div class="card-body">
      <h5 class="card-title text-primary text-center text-lg-start">{post.title}</h5>
    </div>
  </div>
</a>

<style>
.card {
  border: unset;
}
.card, .card-body {
  height: 16rem;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0.5, 0.5);
  transition: transform 0.3s ease-in-out;
}
</style>