---
interface Post {
  highText: string;
  lowText: string;
  iconClass: string;
  aosDelay: number;
  href: string;
}

const latestPosts: Post[] = [
  {
    highText: 'Programación orientada a objetos.',
    lowText: 'Todos los conceptos a profundidad del paradigma orientado a objetos.',
    iconClass: 'bi bi-stopwatch',
    href: '/blog',
    aosDelay: 0,
  },
  {
    highText: 'La princesa del laberinto',
    lowText: '¿Qué harías si durante toda tu vida sólo has conocido el interior de un oscuro laberinto?',
    iconClass: 'bi bi-stopwatch',
    href: '/blog',
    aosDelay: 100,
  },
];
---

<section id="facts" class="facts section-bg">
  <div class="container">
    <div class="section-title">
      <h2>¿Y el blog? ¿Dónde están las historias?</h2>
      <p>
        Lo más poderoso que tenemos como seres humanos no son las armas,
        ni la tecnología, ni el dinero.
        <br><b>Lo más poderoso que tenemos es nuestra capacidad de asimilar y compartir información</b>.
        <span class="d-block my-3">
          <a href="/blog" class="btn btn-secondary">
            <i class="bi bi-journal-richtext"></i> Ir al blog
          </a>
        </span>
      </p>
    </div>

    <div class="row no-gutters">
      {latestPosts.map((post) => (
        <div
          class="col-lg-4 col-md-6 d-md-flex align-items-md-stretch post-card"
          data-aos="fade-up"
          data-aos-delay={post.aosDelay}>
          <a href={post.href}>
            <div class="count-box">
              <i class={post.iconClass}></i>
              <p><b>{post.highText}</b> {post.lowText}</p>
            </div>
          </a>
        </div>
      ))}
    </div>

  </div>
</section>

<style>
  .post-card:hover > a > .count-box {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
</style>