---
export interface Props {
	title: string;
	description: string;
	author: string;
	keywords: string;
}

const { title, description, author, keywords } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- META -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content={author} />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content={keywords} />
		<meta name="viewport" content="width=device-width" />
		<!-- TITLE -->
		<title>{title}</title>
		<!-- FAVICONS -->
		<link href={'assets/img/favicon.png'} rel="icon" />
		<link href={'assets/img/apple-touch-icon.png'} rel="apple-touch-icon" />

		<!-- GOOGLE FONTS -->
		<link
			href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
			rel="stylesheet"
		/>

		<!-- VENDOR CSS FILES -->
		<link
			href={'assets/vendor/aos/aos.css'}
			rel="stylesheet"
		/>
		<link
			href={'assets/vendor/bootstrap/css/bootstrap.min.css'}
			rel="stylesheet"
		/>
		<link
			href={'assets/vendor/bootstrap-icons/bootstrap-icons.css'}
			rel="stylesheet"
		/>
		<link
			href={'assets/vendor/boxicons/css/boxicons.min.css'}
			rel="stylesheet"
		/>
		<link
			href={'assets/vendor/glightbox/css/glightbox.min.css'}
			rel="stylesheet"
		/>
		<link
			href={'assets/vendor/swiper/swiper-bundle.min.css'}
			rel="stylesheet"
		/>

		<!-- TEMPLATE MAIN CSS FILE -->
		<link href={'assets/css/style.css'} rel="stylesheet" />

		<!-- =======================================================
		* Template Name: iPortfolio - v3.9.1
		* Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
		* Author: BootstrapMade.com
		* License: https://bootstrapmade.com/license/
		======================================================== -->
	</head>

	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
	}
	html,
	body {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
</style>
