---
export interface Props {
	title: string;
	description: string;
	author: string;
	keywords: string;
	stylesheets: string[];
	scripts: string[];
}

const { title, description, author, keywords, stylesheets, scripts } = Astro.props;
---

<!DOCTYPE html>
<!-- =======================================================
* Template Name: iPortfolio - v3.9.1
* Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
<html lang="es">
	<head>
		<!-- META -->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="author" content={author} />
		<meta name="description" content={description} />
		<meta name="generator" content={Astro.generator} />
		<meta name="keywords" content={keywords} />
		<meta name="viewport" content="width=device-width" />
		<!-- TITLE -->
		<title>{title}</title>
		<!-- FAVICONS -->
		<link href={'assets/img/favicon.png'} rel="icon" />
		<link href={'assets/img/apple-touch-icon.png'} rel="apple-touch-icon" />
		<!-- STYLESHEETS -->
		{stylesheets.map((stylesheet) => (
			<link href={stylesheet} rel="stylesheet" />
		))}
	</head>

	<body>
		<slot />
		{scripts.map((script) => (
			<script src={script} />
		))}
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
	}
	html,
	body {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
</style>
